palette {
  color: #00171f;
  color: #ffffff;
  color: #003459;
  color: #007ea7;
  color: #00a8e8;
}

#root {
  font-family: Inter, serif;
  max-width: 80vw;
  margin: 10% auto;
}

.jokes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}


.joke {
  width: 80%;
  border-radius: 5px;
  margin: 3%;
  padding: 5%;
  background-color: #00171f;
  color: #ffffff;
  text-align: center;
  font-size: 1.5rem;
}

.joke--shown {
  opacity: 0.85;
}